/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@font-face {
  font-family: savoye;
  font-display: swap;
  src: url("fonts/savoye.ttf"); }

@font-face {
  font-family: tangerine;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css?family=Tangerine:100,300,400,700,900"); }

a {
  color: #b2a07f;
  padding: .3rem;
  text-decoration: none;
  border-bottom: 1px solid #b2a07f; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #dbd5c9, #6e5a35);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-width-100 {
  width: 100%; }

.aboutContainer {
  background-image: linear-gradient(to right bottom, rgba(255, 246, 229, 0.8), rgba(110, 90, 53, 0.8)), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_932/q_auto,f_auto,fl_awebp,fl_lossy/HarpHands.jpg);
  background-position: center;
  padding: 5rem;
  height: fit-content; }
  @media only screen and (max-width: 56.25em) {
    .aboutContainer {
      background-image: linear-gradient(to right bottom, rgba(255, 246, 229, 0.8), rgba(110, 90, 53, 0.8)), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_500/q_auto,f_auto,fl_awebp,fl_lossy/HarpHands.jpg); } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #b2a07f;
  color: #fff; }
  .btn--green::after {
    background-color: #b2a07f; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #b2a07f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #b2a07f;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #b2a07f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative;
  width: 300px;
  height: 400px;
  margin: auto; }
  .composition__photo {
    width: 20em;
    height: 25em;
    margin: auto;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        margin-top: 5em;
        height: 21em;
        border-radius: 8px;
        transform: scale(1.2);
        float: left;
        position: relative;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: -2em;
      top: -2.5em;
      height: 29em; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: -5em;
          left: 3em;
          height: 21em;
          width: 15em;
          border-radius: 8px;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      left: 14em;
      top: 1em;
      height: 29em; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -2em;
          left: 3.5em;
          height: 21em;
          width: 15em;
          border-radius: 8px;
          transform: scale(1.2);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 5em;
      top: 22em;
      height: 29em; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: -10em;
          left: 10em;
          height: 21em;
          width: 14em;
          border-radius: 8px;
          transform: scale(1.2);
          z-index: 200; } }
    .composition__photo:hover {
      outline: 1.5rem solid #b2a07f;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem;
      width: 60%;
      margin: auto; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #fff6e5, #6e5a35);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__text {
  margin-bottom: 2rem;
  margin-top: -2.5rem; }
  .form__text > p {
    font-size: 18px; }
    .form__text > p > span {
      font-size: 24px;
      font-style: italic;
      color: #0da17f;
      margin-left: .8rem; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__group button {
  margin-top: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
  border: 1px solid #6e5a35; }
  @media only screen and (max-width: 37.5em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #b2a07f; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #b3a106; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #b2a07f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b2a07f;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.grecaptcha-badge:parent {
  transition: all 3s; }

.grecaptcha-badge {
  transform: translateX(200%); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #b2a07f; }

.story {
  width: 75%;
  margin: 5% auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 2rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__text {
    margin: 5rem;
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        margin: 1rem; } }
    .story__textp > span {
      font-style: italic;
      font-size: 72px; }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
    .story__text > p > span:nth-of-type(1),
    .story__text > p > span:nth-of-type(2) {
      font-family: 'alex brush', 'cursive';
      font-size: 30px;
      line-height: .3; }

.weddingsContainer__text {
  padding: 25px;
  margin-top: -20px;
  padding-top: 100px;
  background-color: #dbd5c9;
  font-size: 18px; }
  @media only screen and (max-width: 56.25em) {
    .weddingsContainer__text {
      font-size: 16px; } }
  .weddingsContainer__text > p > span:nth-of-type(2),
  .weddingsContainer__text > p > span:nth-of-type(3) {
    font-family: 'alex brush', 'cursive';
    font-size: 50px;
    line-height: .8; }
    @media only screen and (max-width: 56.25em) {
      .weddingsContainer__text > p > span:nth-of-type(2),
      .weddingsContainer__text > p > span:nth-of-type(3) {
        font-size: 40px; } }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .weddingsContainer__text {
      -webkit-clip-path: polygon(0 0, 100% 12.5%, 100% 125%, 0 100%);
      clip-path: polygon(0 0, 100% 12.5%, 100% 100%, 0 100%); } }
  .weddingsContainer__text > h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 3rem; }
  .weddingsContainer__text > p > span {
    font-style: italic;
    font-size: 14px; }
  .weddingsContainer__text > div {
    margin-top: 45px;
    margin-bottom: 25px; }

* {
  box-sizing: border-box; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Hide the images by default */
.mySlides {
  display: none;
  width: 70%;
  margin: auto;
  overflow: hidden; }
  .mySlides > img {
    margin-top: -50%; }

.dotContainer {
  margin: 75px auto;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .dotContainer {
      margin: 20px auto 63px auto; } }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: #6e5a35;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  border-bottom: 0;
  user-select: none; }
  @media only screen and (max-width: 37.5em) {
    .prev, .next {
      top: 30%; } }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  text-align: right; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
    .footer__logo > img {
      width: 20%; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        border: none;
        padding-top: 0; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #b2a07f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none;
        border: none;
        text-align: center;
        padding-top: 0; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(255, 246, 229, 0), rgba(110, 90, 53, 0.7)), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_999/q_auto,f_auto,fl_awebp,fl_lossy/HarpHands.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
      height: 95vh; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
      background-position: bottom right;
      background-image: linear-gradient(to right bottom, rgba(255, 246, 229, 0.8), rgba(110, 90, 53, 0.8)), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_500/q_auto,f_auto,fl_awebp,fl_lossy/HarpHands.jpg); } }
  .header__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        top: 50%; } }
    .header__text-box--heading-secondary {
      font-family: "savoye", 'tangerine', sans-serif;
      font-weight: 400;
      font-size: 65px;
      color: white;
      z-index: 2000; }
      @media only screen and (max-width: 37.5em) {
        .header__text-box--heading-secondary {
          font-size: 55px;
          line-height: 1.3; } }

.header__topLine {
  display: flex;
  justify-content: space-between; }
  .header__topLine--logo-box {
    position: absolute;
    top: 0rem;
    left: 0rem;
    padding: .5rem 1rem; }
    @media only screen and (max-width: 37.5em) {
      .header__topLine--logo-box {
        padding: 4rem .5rem; } }
  .header__topLine--logo {
    height: 9.5rem;
    opacity: .6; }
  .header__topLine--navigation-list {
    display: flex;
    position: absolute;
    top: 2%;
    right: 2%;
    list-style: none;
    text-align: center; }
  .header__topLine--navigation-item {
    margin: 1rem; }
  .header__topLine--navigation-link:link, .header__topLine--navigation-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-size: 220%;
    border-bottom: 1px solid transparent;
    transition: all .4s; }
  .header__topLine--navigation-link:hover, .header__topLine--navigation-link:active {
    border-bottom: 1px solid white; }

.section-subLanding {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -28vh; }
  @media only screen and (max-width: 56.25em) {
    .section-subLanding {
      padding: 30rem 5px 3rem 5px; } }
  .section-subLanding__text {
    padding: 1rem;
    margin-left: 4rem;
    margin-right: 4rem; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(255, 246, 229, 0.8), rgba(110, 90, 53, 0.8)), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_932/q_auto,f_auto,fl_awebp,fl_lossy/nat-4.jpg);
  background-size: cover;
  transform: skewY(7deg);
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      background-image: linear-gradient(to right bottom, rgba(255, 246, 229, 0.8), rgba(110, 90, 53, 0.8)), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_500/q_auto,f_auto,fl_awebp,fl_lossy/nat-4.jpg); } }
  .section-features > * {
    transform: skewY(-7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      margin-top: 0;
      padding: 10rem 0; } }

.section-weddings {
  background-color: #f7f7f7;
  padding: 25rem 0 9rem 0;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-weddings {
      padding: 20rem 0 10rem 0; } }

.section-about {
  position: relative;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 10rem 0 0; } }

.section-book {
  margin-top: 8rem;
  padding: 5% 8%;
  background-image: linear-gradient(to bottom right, #6e5a35, #fff6e5); }
  @media only screen and (max-width: 37.5em) {
    .section-book {
      background-image: none;
      background-color: #333;
      padding: 0; } }

.book {
  background-size: 100%;
  border-radius: 3px;
  background-position: center right;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book.visible {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_932/q_auto,f_auto,fl_awebp,fl_lossy/tiffany_mountainCropRight.jpg); }
    @media only screen and (max-width: 75em) {
      .book.visible {
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_932/q_auto,f_auto,fl_awebp,fl_lossy/tiffany_mountainCropVeryRight.jpg);
        background-size: cover; } }
    @media only screen and (max-width: 56.25em) {
      .book.visible {
        background-image: linear-gradient(95deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 55%), url(https://res.cloudinary.com/take2tech-ca/image/upload/c_scale,w_932/q_auto,f_auto,fl_awebp,fl_lossy/tiffany_mountainCropVeryRight.jpg);
        background-size: cover; } }
  @media only screen and (max-width: 37.5em) {
    .book {
      background-image: none; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media only screen and (max-width: 37.5em) {
      .book__form {
        width: 100%;
        background-color: #dbd5c9; } }
    .book__form h2 {
      background-image: linear-gradient(to right, #b2a07f, #6e5a35); }
